<!DOCTYPE html>
<html>

<head>
    <title>Edit Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <h3><a href="/employees">Employee List</a></h3>
        <h1>Edit Employee</h1>
        <form action="/employees/update/<%= employee._id%>" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" value="<%= employee.name %>" /></td>
                    </tr>

                    <tr>
                        <td>DOB</td>
                        <td><input type="date" name="dob" value="<%= employee.dob %>" /></td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><input type="email" name="email" value="<%= employee.email %>" /></td>
                    </tr>

                    <tr>
                        <td>Gender</td>
                        <td><input type="text" name="gender" value="<%= employee.gender %>" /></td>
                    </tr>

                    <tr>
                        <td>Phone</td>
                        <td><input type="number" name="phone" value="<%= employee.phone %>" /></td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td><textarea name="address" value="<%= employee.address %>"></textarea></td>
                    </tr>

                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" value="<%= employee.username %>" /></td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" value="<%= employee.password %>" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>